:root {
  --primary: #252323;
  --secondary: #70798c;
  --light-white: #f5f1ed;
  --beige: #dad2bc;
  --brown: #a99985;
}

html body {
  font-family: sans-serif, Helvetica, sans-serif;
}

.g-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 50%);
  visibility: var(--visibility, hidden);
  opacity: var(--opacity, 0);
  transition: opacity 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
}

.g-modal-container {
  background: var(--light-white);
  width: 50%;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
}
