:root {
  --primary: #252323;
  --secondary: #70798c;
  --light-white: #f5f1ed;
  --beige: #dad2bc;
  --brown: #a99985;
}

.l-menu-header {
  background: rgb(37, 35, 35);
  background: linear-gradient(
    100deg,
    rgba(37, 35, 35, 1) 0%,
    rgba(112, 121, 140, 1) 100%
  );
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  z-index: 15;
}

.l-menu {
  animation: slideInMenu 0.3s ease-out;
  position: relative;
}

@keyframes slideInMenu {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.l-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.l-menu li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  vertical-align: center;
}

.l-menu a {
  color: var(--light-white);
  padding: 0 15px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  display: block;
  text-align: center;
  line-height: 50px;
}

.l-menu li a:hover:not(.active) {
  color: var(--beige);
  transition: all 0.2s;
  transform: scale(1.05);
}

.l-menu .active a {
  color: var(--beige);
}

.l-menu-indicator {
  width: 20px;
  height: 4px;
  display: block;
  background-color: var(--beige);
  position: absolute;
  top: 38px;
  transition: all 0.2s;
}

#responsive-check {
  display: none;
}

.l-responsive-menu-switch {
  height: 50px;
  width: 50px;
  display: none;
}

.l-responsive-menu-switch div {
  width: 37px;
  height: 3px;
  background-color: var(--light-white);
  transition: transform 0.3s, opacity 0.2s;
  transform-origin: right;
}

@media (max-width: 600px) {
  .l-menu {
    position: absolute;
    background: rgb(37, 35, 35);
    background: linear-gradient(
      100deg,
      rgba(37, 35, 35, 1) 0%,
      rgba(112, 121, 140, 1) 100%
    );
    width: 100%;
    opacity: 0;
    margin-top: 50px;
    transition: opacity 0.3s;
    pointer-events: none;
  }

  .l-menu-indicator {
    display: none;
  }

  .l-menu ul {
    flex-direction: column;
  }

  .l-menu li {
    border-top: 1px solid rgb(218, 210, 188, 0.2);
    width: 100%;
  }

  #responsive-check:checked ~ .l-responsive-menu-switch ~ .l-menu {
    opacity: 1;
    pointer-events: all;
  }

  #responsive-check:checked ~ .l-responsive-menu-switch div:first-child {
    transform: rotate(-45deg);
  }

  #responsive-check:checked ~ .l-responsive-menu-switch div:nth-child(2) {
    opacity: 0;
  }

  #responsive-check:checked ~ .l-responsive-menu-switch div:last-child {
    transform: rotate(45deg);
  }

  .l-responsive-menu-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
}
